


/* GENERAL  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --test1: red;
    --test2: blue;
    --test3: green;
    --test4: purple;
    --bs-primary: #0d6efd;
}

.mt-6{
    margin-top: 6rem;
}

.fs-6{
    font-size: 1 rem;
}

.relative{
    position: relative;
}

.flex_row{
    flex-direction: row;
}

.align_items_end{
    align-items: flex-end;
}

.module {
    width: 200px;
    height: 200px;
    background: #f06d06;
    position: relative;
    border: 5px solid blue;  
    margin: 20px;
  }
  .module:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: red;
    z-index: -1;
  }


.test_class4:hover { 
    
}


/* HOVER EFFECTS */

.navbar-light .navbar-nav .nav-link:hover{
    color: var(--bs-primary);
}

.bg-dark:hover{ 
    border: 2px solid white;
    outline: 1px solid black;  
}

nav li div div:hover {
    box-shadow: 0px 0px 8px grey;
}

li > span:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.btn-danger:hover{
    border: 2px solid black;
    outline: 1px solid red;
}







header{
    background-color: black;
}

.sony_img{
    width: 90px;
    height: 30px;
    margin: 0;
}

.fa-playstation{
    color: #0070D1;
    font-size: 2.5rem;
}



.img{
    width: 150px;
    height: 100px;
    background-color: var(--test1);
}

.img:hover {
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
}

.test_class1{
    height: 20px;
    width: 20px;
    background-color: var(--test1);
}

.test_class2{
   height: 20px;
    width: 100vw;
    background-color: var(--test2);
}
.test_class3{
    /* height: 10px;
    width: 10px; */
    background-color: var(--test3);
}


.fa-magnifying-glass{
     font-size: 1.5rem;
    }
    
    .returnal_banner{
    height: 80vh;
    background-image:url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;  
}

.it_takes_two_banner{
    height: 80vh;
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;  
}

.fa-magnifying-glass{
padding: 0 1rem;

}

 .img_box1{
     width: 300px;
 }

 .img_box2{
     width: 100%;
     height: 150px;
 }

 .img_box3{
    height: 50px;
 }

 .img_box4{
    height: 150px;
 }

 .margin_test{
     margin-top: 50rem;
 }

 .text_position_1{
     position: relative;
     top: 300px;
 }

 .text_position_2{
    position: relative;
    top: 150px;
 }

 .text_position_3{
     position:relative;
     top: 100px;
 }

 .new_release_bg{
     background-color: #1F1F1F;
 }

 .plus_banner_bg{
     background-color: #BEBCBB;
 }

.now_banner_bg{
    background-color: #161C3B;
}

.footer_bg{
    background-color: #00439C;
}

.off_height{
    height: 80px;
}







 
 


