*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --test1: red;
    --test2: blue;
    --test3: green;
    --test4: purple;
}

.mt-6{
    margin-top: 4.5rem;
}

.flex_row{
    flex-direction: row;
}

.align_items_end{
    align-items: flex-end;
}

header{
    background-color: black;
}

.sony_img{
    width: 90px;
    height: 30px;
    margin: 0;
}

.fa-playstation{
    color: #0070D1;
    font-size: 2.5rem;
}

.test_class1{
    height: 10px;
    /* width: 10px; */
    background-color: var(--test1);
}

.test_class2{
   /* height: 10px;
    width: 10px; */
    background-color: var(--test2);
}

.img{
    display: inline-block;
    /* width: 150px; */
    /* height: 100px; */
    background-color: var(--test1);
}

.img:hover {
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
}

.test_class3{
    height: 10px;
     width: 10px;
     background-color: var(--test3);
 }

 .test_class4{
    height: 10px;
     width: 10px;
     background-color: var(--test4);
 }

 .fa-magnifying-glass{
     font-size: 1.5rem;
 }

 .banner{
    height: 80vh;
    background-image:url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

}

 .img_box{
     width: 100px;
 }
 
 


